<div class="top"><H1>Quiznosaurus</H1></div>
<form action="" method="POST">
  <div class="question">
    <label for="Q1">
      What is your favourite colour? <br>
      <div id = "art"><img src="images/art.jpg"/></div>
      <div class="button"><input type="radio" name="Q1" value="1">red</input></div>
      <div class="button"><input type="radio" name="Q1" value="2">blue</input></div>
      <div class="button"><input type="radio" name="Q1" value="3">pink</input></div>
      <div class="button"><input type="radio" name="Q1" value="4">purple</input></div>
    </label> <br>
  </div>

  <div>
    <label for="Q2">
      Question 2: <br>
      <div class="button"><input type="radio" name="Q2" value="1">Answer 1</input></div>
      <div class="button"><input type="radio" name="Q2" value="2">Answer 2</input></div>
      <div class="button"><input type="radio" name="Q2" value="3">Answer 3</input></div>
      <div class="button"><input type="radio" name="Q2" value="4">Answer 4</input></div>
    </label> <br>
  </div>

  <div>
    <label for="Q3">
      Question 3: <br>
      <div class="button"><input type="radio" name="Q3" value="1">Answer 1</input></div>
      <div class="button"><input type="radio" name="Q3" value="2">Answer 2</input></div>
      <div class="button"><input type="radio" name="Q3" value="3">Answer 3</input></div>
      <div class="button"><input type="radio" name="Q3" value="4">Answer 4</input></div>
      
      
     
      
    </label> <br>
  </div>

  <div>
    <label for="Q4">
      Question 4: <br>
      <div class="button"><input type="radio" name="Q4" value="1">Answer 1</input></div>
      <div class="button"><input type="radio" name="Q4" value="1">Answer 1</input></div>
      <div class="button"><input type="radio" name="Q4" value="3">Answer 3</input></div>
      <div class="button"><input type="radio" name="Q4" value="4">Answer 4</input></div>
    </label> <br>
  </div>

  <div>
    <label for="Q5">
      Question 5: <br>
      <div class="button"><input type="radio" name="Q5" value="1">Answer 1</input></div>
      <div class="button"><input type="radio" name="Q5" value="2">Answer 2</input></div>
      <div class="button"><input type="radio" name="Q5" value="3">Answer 3</input></div>
      <div class="button"><input type="radio" name="Q5" value="4">Answer 4</input></div>
    </label> <br>
  </div>

  <div>
    <input type="submit" name="Submit Quiz" />
  </div>
{{!-- 
  <div class="card Qchoices__card Qchoices__card--undefined card--triangle">
    <span class="icon card__icon Qchoices__icon">
      <svg class="icon__svg" data-functional-selector="icon" focusable="false">
        <use class="icon__use" xlink:href="#triangle"></use>
      </svg>
    </span>
    <span class="Qchoices__card-text">Red</span>
    <span class="icon icon--large Qchoices__tick">
      <svg class="icon__svg" data-functional-selector="icon" focusable="false">
        <use class="icon__use" xlink:href="#tick"></use>
      </svg>
    </span>
  </div>

  </div> --}}
</form>