<div class="top"><H1>Quiznosaurus</H1></div>
<form action="" method="POST">
    <label for="Q1">
      <p>What is your favourite colour?</p> <br>
      <div id = "art"><img src="images/art.jpg"/></div>
      <div class="button"><input type="radio" name="Q1" value="1">red</input></div>
      <div class="button"><input type="radio" name="Q1" value="2">blue</input></div>
      <div class="button"><input type="radio" name="Q1" value="3">pink</input></div>
      <div class="button"><input type="radio" name="Q1" value="4">purple</input></div>
    </label> <br>
  </div>

  <div>
    <label for="Q2">
      <p>What's your favourite food?</p> <br>
      <div id = "art"><img src="images/sushi.png"/></div>
      <div class="button"><input type="radio" name="Q2" value="1">fried chicken</input></div>
      <div class="button"><input type="radio" name="Q2" value="2">sushi</input></div>
      <div class="button"><input type="radio" name="Q2" value="3">apple pie</input></div>
      <div class="button"><input type="radio" name="Q2" value="4">chocolate</input></div>
    </label> <br>
  </div>

  <div>
    <label for="Q3">
    <p>What's your favourite activity?</p> <br>
      <div id = "art"><img src="images/sport.jpg"/></div>
      <div class = "options">
      <div class="button"><input type="radio" name="Q3" value="1">playing sports</input></div>
      <div class="button"><input type="radio" name="Q3" value="2">watching tv</input></div>
      <div class="button"><input type="radio" name="Q3" value="3">arts and crafts</input></div>
      <div class="button"><input type="radio" name="Q3" value="4">hanging out with friends</input></div>
      </div>
      
     
      
    </label> <br>
  </div>

  <div>
    <label for="Q4">
      <p>Where's your favourite place to go?</p> <br>
      <div id = "art"><img src="images/city.png"/></div>
      <div class="button"><input type="radio" name="Q4" value="1">busy city</input></div>
      <div class="button"><input type="radio" name="Q4" value="1">the botanical gardens</input></div>
      <div class="button"><input type="radio" name="Q4" value="3">on a hill</input></div>
      <div class="button"><input type="radio" name="Q4" value="4">home</input></div>
    </label> <br>
  </div>

  <div>
    <label for="Q5">
      <p>How would you describe yourself with one word?</p> <br>
      <div id = "art"><img src="images/boy.png"/></div>
      <div class="button"><input type="radio" name="Q5" value="1">hyper</input></div>
      <div class="button"><input type="radio" name="Q5" value="2">cool</input></div>
      <div class="button"><input type="radio" name="Q5" value="3">kind</input></div>
      <div class="button"><input type="radio" name="Q5" value="4">fun</input></div>
    </label> <br>
  </div>

  <div class = "submit">
    <input type="submit" name="Submit Quiz" />
  </div>
{{!-- 
  <div class="card Qchoices__card Qchoices__card--undefined card--triangle">
    <span class="icon card__icon Qchoices__icon">
      <svg class="icon__svg" data-functional-selector="icon" focusable="false">
        <use class="icon__use" xlink:href="#triangle"></use>
      </svg>
    </span>
    <span class="Qchoices__card-text">Red</span>
    <span class="icon icon--large Qchoices__tick">
      <svg class="icon__svg" data-functional-selector="icon" focusable="false">
        <use class="icon__use" xlink:href="#tick"></use>
      </svg>
    </span>
  </div>

  </div> --}}
</form>